.returnBtn {
   
        background-color: rgb(255,87,97);
        color: rgb(37,22,33);
        width: 70px;
        height: 30px;
        margin-left: auto;
        margin-right: 2%;
}

.returnBtn:hover  { 
        background-color: rgb(255,87,97);
        color: rgb(37,22,33);
        height: 30px;
        cursor: pointer;
        border: 2px solid rgb(37,22,33);
}
